fastapi==0.115.0
uvicorn[standard]==0.30.0
networkx==3.3
psycopg2-binary==2.9.9
sqlalchemy==2.0.31
python-dotenv==1.0.1
pydantic==2.8.0
dbt-postgres==1.8.0
dagster==1.8.0
dagster-postgres==0.24.0
dagster-dbt==0.24.0
